button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: $color__background-button;
	color: $white;
	@include font-size(1.4);
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	line-height: 1;
	padding: 1.5rem 3rem;
	
	&:hover, 
	&:active,
	&:focus {
		outline: 0;
		background: $dark-pink;
	}
}




